@model BlogPlugin.ViewModel.EditCommentModel
@{
    Layout = null;
}
<center>
    
    @using (Html.BeginForm(BMVC.Blog.AdminComment.ActionNames.Edit, BMVC.Blog.AdminComment.Name, new { area = BMVC.Blog.Name }, FormMethod.Post))
    {

        @Html.AntiForgeryToken()
        <div class='row'>
            <div>
                <div class='box-title' style="margin-bottom:1%">
                </div>
                <div class='comments-form'>
                    <div action="#">
                        @Html.TextAreaFor(model => model.Body, new { style = "height:90px;width:450px" })
                        @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                    </div><br />
                    <div style="direction:ltr;text-align:left">
                        <input type="submit" name="postComment" value='ارسال بفرمایید' class='btn btn-custom btn-red btn-medium btn-large-text' />
                    </div>
                </div>
            </div>
        </div>
    }
</center>