@model AradCms.Core.ViewModel.Site.AddOrUpdateSiteInfo
<div class="col-sm-3">
    <div class="widget">
        <strong class="widget-title upper">در تماس باشید</strong>
        <p>@Html.Raw(Model.SiteContact)</p>
        <div class="contact-info">
            <i class="icon-location"></i> @Html.DisplayFor(a => Model.SiteAddress) <br />
            <i class="icon-phone"></i>@Html.DisplayFor(a => Model.SitePhone)<br />
        </div>
    </div>
</div>