@model AradCms.Core.ViewModel.Site.AddOrUpdateSiteInfo
<div class="col-sm-3">
    <div class="widget">
        <h3 class="widget-title upper">درباره ما</h3>
        @Html.Raw(Model.SiteAboute)
        <div class="divide5"></div>
        <ul class="social">
            
            <li><a href="#"><i class="icon-s-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/ARADeveloper.ir" target="_blank"><i class="icon-s-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/aradeveloper/" target="_blank"><i class="icon-s-instagrem"></i></a></li>
            <li><a href="https://telegram.me/Aradeveloper" target="_blank"><i class="icon-s-skype"></i></a></li>
        </ul>
    </div>
    <!-- /.widget -->
</div>