@{
    Layout = "~/Views/Themes/Admin/_LayoutAdmin.cshtml";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        لینک بازیابی رمز عبور به ایمیل شما فرستاده شده است لطفا ایمیل خود را بررسی نمایید.
    </p>
</div>