<div class="dark-wrapper">
    <div class="container inner">
        <div class="section-title-wrapper">
            <h3 class="section-title bm20">فناوری های مورد استفاده در آراد</h3>
        </div>
        <div class="thin">
            <p class="text-center">تیم آراد همیشه به دنبال مناسبترین و پایدارترین فناوری موجود با نگاهی به آینده فناوری می باشد . به نظر ما اولین بودن مهم نیست پایداری و پویایی فناوری ها مهمتر است.</p>
        </div>
        <div class="divide40"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="services-2">
                    <div class="icon"> <i class="icon-picons-desktop-preferences icn"></i> </div>
                    <!-- /.icon -->
                    <div class="text">
                        <h5 class="upper">%100 واکنشگرا</h5>
                        <p>در تمامی نرم افزارها و وبسایتهای طراحی شده توسط آراد نمایش واکنشگرا لحاظ شده است. </p>
                    </div>
                    <!-- /.text -->
                    <div class="divide20"></div>
                    <div class="icon"> <i class="icon-picons-support icn"></i> </div>
                    <!-- /.icon -->
                    <div class="text">
                        <h5 class="upper">پشتیبانی </h5>
                        <p>با ورود به خانواده آراد شما میتوانید این اطمینان را داشته باشید که پشتیبانی به موقع و کامل دریافت خواهید کرد ما دوستان و مشتریان خود را تنها نخواهیم گذاشت</p>
                    </div>
                    <!-- /.text -->
                    <div class="divide20"></div>
                    <div class="icon"> <i class="icon-picons-drawing icn"></i> </div>
                    <!-- /.icon -->
                    <div class="text">
                        <h5 class="upper">افزونه های مختلف</h5>
                        <p>تمامی نرم افزارهای آراد از اصول مهندسی تبعیت می کنند و با قابلیت گسترش توسط افزونه های مختلف توسعه پیدا می کنند.</p>
                    </div>
                    <!-- /.text -->
                </div>
                <!-- /.services-2 -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
                <figure><img src="@Links.Content.Loom.images.softwer_eng_png" alt="" /></figure>
            </div>
            <!-- /.col -->
            <div class="col-md-3">
                <div class="services-2">
                    <div class="icon"> <i class="icon-picons-window-layout-3 icn"></i> </div>
                    <!-- /.icon -->
                    <div class="text">
                        <h5 class="upper">طراحی پورتال</h5>
                        <p>کارشناسان آراد آمادگی دارند تا با توجه به نیاز و قابلیت های مد نظر شما بهترین وبسایت  شخصی ، شرکتی و یا پورتال سازمانی را برای شما فراهم آورند.</p>
                    </div>
                    <!-- /.text -->
                    <div class="divide20"></div>
                    <div class="icon"> <i class="icon-picons-earth icn"></i> </div>
                    <!-- /.icon -->
                    <div class="text">
                        <h5 class="upper">سئو </h5>
                        <p>اصول پایه ای بهینه سازی وبسایت برای پورتالهای آراد در نظر گرفته شده است و نیز این خدمات در اختیار وبسایت شما نیز میتواند قرار گیرد.</p>
                    </div>
                    <!-- /.text -->
                    <div class="divide20"></div>
                    <div class="icon"> <i class="icon-picons-brush icn"></i> </div>
                    <!-- /.icon -->
                    <div class="text">
                        <h5 class="upper">نرم افزارهای تبلت و گوشی های هوشمند</h5>
                        <p>نرم افزارهای تجهیزات همراه در اندروید و آی او اس یکی از بخش های پویای ما می باشد . با آراد همراه شوید.</p>
                    </div>
                    <!-- /.text -->
                </div>
                <!-- /.services-3 -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>