<a href="#" class="bonfire-slideout-button"> <i class="icon-mail-1"></i> </a>
<div class="bonfire-slideout-button-triangle-background"></div>
<div class="bonfire-slideout">
    <div class="bonfire-slideout-inner">
        <div class="bonfire-slideout-inner-inner">
            <div class="bonfire-slideout-close"></div>
            <div class="bonfire-slideout-content container">
                <div class="thin">
                    <div class="section-title-wrapper">
                        <h3 class="section-title">دیدگاه، انتقاد و پرسش خود را با ما در میان بگذارید</h3>
</div>
                    <div class="divide30"></div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-container">
                                <div class="response alert alert-success"></div>
                                <form class="forms" action="" method="post">
                                    <fieldset>
                                        <ol>
                                            <li class="form-row text-input-row name-field">
                                                <input type="text" name="name" class="text-input defaultText required" title="نام (ضروری)" />
                                            </li>
                                            <li class="form-row text-input-row email-field">
                                                <input type="text" name="email" class="text-input defaultText required email" title="ایمیل (ضروری)" />
                                            </li>
                                            <li class="form-row text-input-row subject-field">
                                                <input type="text" name="subject" class="text-input defaultText" title="موضوع" />
                                            </li>
                                            <li class="form-row text-area-row">
                                                <textarea name="message" class="text-area required"></textarea>
                                            </li>
                                            <li class="form-row hidden-row">
                                                <input type="hidden" name="hidden" value="" />
                                            </li>
                                            <li class="nocomment">
                                                <label for="nocomment">این گزینه را خالی بگذارید</label>
                                                <input id="nocomment" value="" name="nocomment" />
                                            </li>
                                            <li class="button-row">
                                                <input type="submit" value="ارسال" name="submit" class="btn btn-submit bm0" />
                                            </li>
                                        </ol>
                                        <input type="hidden" name="v_error" id="v-error" value="ضروری" />
                                        <input type="hidden" name="v_email" id="v-email" value="ایمیل را وارد کنید" />
                                    </fieldset>
                                </form>
                            </div>
                            <!-- /.form-container -->
                        </div>
                        <!-- /.col -->
                        <aside class="col-sm-4 sidebar lp20">
                            <div class="sidebox widget">
                                <h3>آدرس</h3>
                               
                                <address>
                                    <strong>ایران ، گلستان ،گرگان ، ولیعصر ، عدالت یک ، ساختمان میلاد ، طبقه چهارم </strong><br>
                                    <abbr title="Phone">تلفن:    </abbr>981732251270+<br>
                                    <abbr title="Email">ایمیل:    </abbr> <a href="mailto:info@aradeveloper.ir">info@aradeveloper.ir</a>
                                </address>
                            </div>
                            <!-- /.widget -->
                        </aside>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
    </div>
</div>