<div class="parallax process">
    <div class="container inner text-center">
        <div class="section-title-wrapper">
            <h3 class="section-title bm20">پروسه ما</h3>
        </div>
        <div class="thin">
            <p class="text-center">روند اجرای پروژه ها توسط همکاران ما به شرح زیر می باشد.</p>
        </div>
        <div class="divide30"></div>
        <div class="row services-3 text-center">
            <div class="col-sm-3 col">
                <div class="icon"><i class="icon-picons-bulb icn"></i></div>
                <h4 class="upper">1. تماس با کارشناسان ما</h4>
            </div>
            <div class="col-sm-3 col">
                <div class="icon"><i class="icon-picons-rocket icn"></i></div>
                <h4 class="upper">2. ارائه پیشنهادات کارشناسان ما بر اساس نظرات شما</h4>
            </div>
            <div class="col-sm-3 col">
                <div class="icon"><i class="icon-picons-lab icn"></i></div>
                <h4 class="upper">3. اصلاح و بازبینی طرح پیشنهادی بر اساس نظرات شما</h4>
            </div>
            <div class="col-sm-3 col">
                <div class="icon"><i class="icon-picons-award icn"></i></div>
                <h4 class="upper">4. شروع پروژه و ورود شما به دنیای آراد</h4>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>