<div class="dark-wrapper">
    <div class="container inner">
        <div class="section-title-wrapper">
            <strong class="section-title bm20">فناوری های مورد استفاده در آراد</strong>
        </div>
        <div class="thin">
            <p class="text-center">تیم آراد همیشه به دنبال مناسبترین و پایدارترین فناوری موجود با نگاهی به آینده فناوری می باشد .</p>
        </div>
        <div class="divide40"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="services-2">
                    <div class="icon"> <i class="icon-picons-desktop-preferences icn"></i> </div>
                    <!-- /.icon -->
                    <div class="text">
                        <strong class="upper">%100 واکنشگرا</strong>
                        <p>در تمامی نرم افزارها و وبسایتهای طراحی شده توسط آراد نمایش واکنشگرا لحاظ شده است. </p>
                    </div>
                    <!-- /.text -->
                    <div class="divide20"></div>
                    <div class="icon"> <i class="icon-picons-support icn"></i> </div>
                    <!-- /.icon -->
                    <div class="text">
                        <strong class="upper">پشتیبانی </strong>
                        <p>با ورود به خانواده آراد شما میتوانید این اطمینان را داشته باشید که پشتیبانی به موقع و کامل دریافت خواهید کرد ما دوستان و مشتریان خود را تنها نخواهیم گذاشت</p>
                    </div>
                    <!-- /.text -->
                    <div class="divide20"></div>
                    <div class="icon"> <i class="icon-picons-drawing icn"></i> </div>
                    <!-- /.icon -->
                    <div class="text">
                        <strong class="upper">افزونه های مختلف</strong>
                        <p>تمامی نرم افزارهای آراد از اصول مهندسی تبعیت می کنند و با قابلیت گسترش توسط افزونه های مختلف توسعه پیدا می کنند.</p>
                    </div>
                    <!-- /.text -->
                </div>
                <!-- /.services-2 -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
                <figure><img src="@Links.Content.Loom.images.softwer_eng_png" alt="ارتباط گستر آراد هیرکان" /></figure>
            </div>
            <!-- /.col -->
            <div class="col-md-3">
                <div class="services-2">
                    <div class="icon"> <i class="icon-picons-window-layout-3 icn"></i> </div>
                    <!-- /.icon -->
                    <div class="text">
                        <strong class="upper">طراحی و توسعه</strong>
                        <p>کارشناسان ما آمادگی دارند تا با توجه به نیاز و ایده های شما، بهترین وبسایت شخصی، شرکتی، فروشگاهی و یا پورتال سازمانی را توسعه دهند.</p>
                    </div>
                    <!-- /.text -->
                    <div class="divide20"></div>
                    <div class="icon"> <i class="icon-picons-earth icn"></i> </div>
                    <!-- /.icon -->
                    <div class="text">
                        <strong class="upper">سئو </strong>
                        <p>اصول بهینه سازی وبسایت برای تمامی وبسایتهای توسعه داده شده توسط ما، در نظر گرفته می شود. همچنین این خدمت برای وبسایت فعلی شما هم قابل ارائه است.</p>
                    </div>
                    <!-- /.text -->
                    <div class="divide20"></div>
                    <div class="icon"> <i class="icon-picons-brush icn"></i> </div>
                    <!-- /.icon -->
                    <div class="text">
                        <strong class="upper">نرم افزارهای تبلت و گوشی هوشمند</strong>
                        <p>توسعه نرم افزار برای سیستم عامل های محبوب اندروید و آی او اس یکی از بخش های پویای ما می باشد.</p>
                    </div>
                    <!-- /.text -->
                </div>
                <!-- /.services-3 -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>