<aside id="sticky-social">
    <ul>
        <li><a href="https://www.facebook.com/ARADeveloper.ir" class="entypo-facebook" target="_blank"><i class="icon-s-facebook"></i><span>Facebook</span></a></li>

        <li><a href="https://plus.google.com/+aradeveloper.ir" class="entypo-gplus" target="_blank"><i class="icon-s-gplus"></i><span>Google+</span></a></li>

        <li><a href="https://www.instagram.com/aradeveloper/" class="entypo-instagrem" target="_blank"><i class="icon socicon-instagram"></i><span>Instagram</span></a></li>
        <li><a href="https://telegram.me/Aradeveloper" class="entypo-linkedin" target="_blank"><i class="icon socicon-telegram"></i><span>Telegram</span></a></li>
    </ul>
</aside>