<div class="parallax testimonials">
    <div class="container inner text-center">
        <div class="section-title-wrapper">
            <strong class="section-title">تیم آراد</strong>
        </div>
        <div id="testimonials" class="tab-container">
            <div class="panel-container">
                <div id="tst1">کارشناس ارشد نرم افزار؛  زمینه کاری در اندروید، سی شارپ، جاوا و پلتفرم تحت وب مایکروسافت؛ علاقمند به عکاسی و سینما<span class="author">علی عسگری</span> </div>
                <div id="tst2">کارشناس ارشد نرم افزار؛ برنامه نویس وب، ویندوز و اندروید؛ تحلیلگر سیستم؛ علاقمند به موسیقی، سفر و ورزش<span class="author">علی نجفی</span> </div>
                <div id="tst3">برنامه نویس، حسابدار، کنترل پروژه؛ دونده، بسکتبالیست و دوستدار طبیعت<span class="author">رضا فغانی</span> </div>
            </div>
            <ul class="etabs">
                <li class="tab"><a href="#tst1">1</a></li>
                <li class="tab"><a href="#tst2">2</a></li>
                <li class="tab"><a href="#tst3">3</a></li>
            </ul>
        </div>
    </div>
    <!-- /.container -->
</div>