@using AradCms.Core.IOC
@using AradCms.Core.Plugin

@{
    var plugins = ProjectObjectFactory.Container.GetAllInstances<IPlugin>().ToList();
}
<div class="navbar basic default">
    <div class="navbar-header">
        <div class="container">
            <div class="basic-wrapper"> <a class="btn responsive-menu pull-left" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a> <a class="navbar-brand" href="~/#"><img src="@Links.Content.Loom.images.logo_png" data-at2x="~/Content/Loom/images/logo@2x.png" alt="ارتباط گستر آراد هیرکان" /></a> </div>
            <div class="collapse navbar-collapse pull-left">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action(MVC.Home.ActionNames.Index,MVC.Home.Name,new {area="" })">صفحه اصلی</a>
                    </li>

                    @foreach (var plugin in plugins)
                    {
                        foreach (var item in plugin.GetMenuItem(this.Request.RequestContext))
                        {
                            if (!item.IsAuthorize && !item.IsWidget && item.WidgetZoneName == "ZoneMainMenu")
                            {
                                <li>@Html.ActionLink(item.Name, item.Action, item.Controller, new { Id = item.item, area = item.Area }, new { title = Html.CleanUrl(item.Slag) })</li>

                            }
                        }

                    }
                </ul>
            </div>
        </div>
    </div>
    <!--/.nav-collapse -->
</div>