@model IEnumerable<BlogPlugin.ViewModel.DataTablePost>
@{

}

@if (Model != null)
{

    <ul id="slider23">
        @foreach (var item in Model)
        {

            <li class="panel4">
                <div>
                    <div class="textSlide">
                        <a href="@Url.Action(BMVC.Blog.Widget.ActionNames.Detailes, BMVC.Blog.Widget.Name, new { Id = item.Id, area = BMVC.Blog.Name })">>
                            <img src="~/Uploads/SiteMedia/Post/@item.PostImage" alt="tomato sandwich" />
                            <h3>@Html.DisplayFor(a => item.Title)</h3>
                            <h4>@Html.Raw(item.Summary)</h4>
                        </a>
                    </div>
                </div>
            </li>

        }
    </ul>

}