@model IEnumerable<BlogPlugin.ViewModel.DataTableBlog>
<div class="sidebox widget">
    @if (Model != null)
    {
        <strong class="widget-title">دسته بندی ها</strong>
        <ul class="circled">
            @foreach (var item in Model)
            {
                <li><a href="@Url.Action(BMVC.Blog.Widget.ActionNames.GetList,BMVC.Blog.Widget.Name,new {id=item.Id,area= BMVC.Blog.Name })">@Html.DisplayFor(a => item.Name)-(@Html.ConvertToPersianString(item.PostCount))</a></li>
            }
        </ul>
    }
</div>